# ESP-IDF specific
build/
sdkconfig
sdkconfig.old

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE specific
.vscode/
.idea/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
